.home-page,
.home-page h1,
.home-page figure,
.home-page img {
    width: fit-content;
    max-width: 100%;
    margin: 0 auto;
}

.home-page{
    margin-top: 20%;
}

@media (max-width: 992px) {
    .home-page{
        margin-top: 50%;
    }
  }