.header { 
    margin: 0 auto;
    background-color: black;
}

.header .container-fluid{
    width: fit-content;
}

.header button {
    color: white !important;
    text-decoration: none;
    border-radius: 15px;
    padding: 5px;
    border: none;
    background-color: black;
}

.header .nav-item {
    margin: auto 5px;
}

.header .navbar-dark .navbar-nav .nav-link{
    color: white;
}

.header .navbar-nav .nav-link {
    padding-right: 5px;
    padding-left: 5px;
  }

.header button.active:not(.navbar-brand) {
    background-color: grey;
}

.header button:not(.navbar-brand):hover {
    background-color: grey;
    color: white
}

.header .navbar-brand{
    border: 1px ridge white;
}