@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');

body{
  background-color: black;
  color: white;
  font-family: 'IM Fell English', serif;
}

@media (min-width: 992px) {
  .app-wrapper{
    width: 60%;
    margin: 0 auto;
  }
}

.app-content{
  margin-top: 60px
}